/**
 *  Apercu
 */

@font-face {
    font-family: 'Apercu';
    font-weight: 300;
    font-style: normal;
    src: url('/fonts/Apercu/Apercu-Light/Apercu-Light.eot'); /* IE9 Compat Modes */
    src: url('/fonts/Apercu/Apercu-Light/Apercu-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/fonts/Apercu/Apercu-Light/Apercu-Light.woff2') format('woff2'), /* Super Modern Browsers */
         url('/fonts/Apercu/Apercu-Light/Apercu-Light.woff') format('woff'), /* Pretty Modern Browsers */
         url('/fonts/Apercu/Apercu-Light/Apercu-Light.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/fonts/Apercu/Apercu-Light/Apercu-Light.svg#svgFontName') format('svg'); /* Legacy iOS */
}


@font-face {
    font-family: 'Apercu';
    font-weight: 400;
    font-style: normal;
    src: url('/fonts/Apercu/Apercu-Regular/Apercu-Regular.eot'); /* IE9 Compat Modes */
    src: url('/fonts/Apercu/Apercu-Regular/Apercu-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/fonts/Apercu/Apercu-Regular/Apercu-Regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('/fonts/Apercu/Apercu-Regular/Apercu-Regular.woff') format('woff'), /* Pretty Modern Browsers */
         url('/fonts/Apercu/Apercu-Regular/Apercu-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/fonts/Apercu/Apercu-Regular/Apercu-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}


@font-face {
    font-family: 'Apercu';
    font-weight: 500;
    font-style: normal;
    src: url('/fonts/Apercu/Apercu-Medium/Apercu-Medium.eot'); /* IE9 Compat Modes */
    src: url('/fonts/Apercu/Apercu-Medium/Apercu-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/fonts/Apercu/Apercu-Medium/Apercu-Medium.woff2') format('woff2'), /* Super Modern Browsers */
         url('/fonts/Apercu/Apercu-Medium/Apercu-Medium.woff') format('woff'), /* Pretty Modern Browsers */
         url('/fonts/Apercu/Apercu-Medium/Apercu-Medium.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/fonts/Apercu/Apercu-Medium/Apercu-Medium.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Apercu';
    font-weight: 700;
    font-style: normal;
    src: url('/fonts/Apercu/Apercu-Bold/Apercu-Bold.eot'); /* IE9 Compat Modes */
    src: url('/fonts/Apercu/Apercu-Bold/Apercu-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/fonts/Apercu/Apercu-Bold/Apercu-Bold.woff2') format('woff2'), /* Super Modern Browsers */
         url('/fonts/Apercu/Apercu-Bold/Apercu-Bold.woff') format('woff'), /* Pretty Modern Browsers */
         url('/fonts/Apercu/Apercu-Bold/Apercu-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/fonts/Apercu/Apercu-Bold/Apercu-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
}


html,
body {
    font-family: 'Apercu';
    -webkit-font-smoothing: antialiased;
}

.panel-heading {
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
}


